.main_div {
    border: 5px solid black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.big_box {
    display: flex;
    flex-direction: column;
}

.notification__btn {
    align-self: flex-end;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    background: #fff;
    padding: 5px;
}

.notification__img {
    width: 100%;
}