$list-background: red;
$header-border: 1px solid pink;
$max-width: 1000px;

header {
  border: $header-border;

  .main-width {
    width: $max-width;

    .menu {
      background-color: $list-background;

      li {
        display: inline-block;
        padding-left: 10px;
      }
    }
  }
}

.menu_2 {
  li {
    &:first-child {
      color: orange;
    }
    &:last-child {
      color: green;
    }
    &:hover {
      color: red
    }
  }
}


footer {
  .menu {
    li {
      display: inline-block;

      &:last-child {
        float: right;
      }

      &:hover {
        background: red;
      }
    }
  }
}